body {
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    width: 100%;
    font-family: "Roboto", Arial, sans-serif;
}
body p {
    color: #c46037;
}
body h1 {
    font-size: 3rem;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'Press Start 2P', cursive;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    /* --- dynamic background + styles defined as JSS in Hero.jsx --- */
}
.hero__heading {
    font-style: normal;
    font-weight: bold;
    color: #eee;
    font-size: 9vmin;
    letter-spacing: 0.03em;
    line-height: 1;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
    margin: 0.67em 0.1em;
}


.main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%
}


.error__container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 2rem 0;
    text-align: center;
    max-width: 44rem;
    margin: 0 auto;
}
.error__illustration {
    width: 15%;
    margin: 2rem 0;
}

.store-link__container {
    z-index: 2;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    max-width: 646px;
    width: 100%;
    height: 100%;
    padding-top: 30%;
}
.store-link__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 725px) {
    /* Keep aspect ratio of iframe */
    .store-link__container {
        padding-top: 56.25%; /* 16:9 */
        margin: 0 auto -150px auto;
    }
}
@media only screen and (max-width: 500px) {
    /* Steam's iframe is not designed for small screens and has limited responsiveness */
    .store-link__container {
        display: none;
    }
}


.content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 3rem;
    max-width: 44rem;
}

.description {
    font-family: Roboto, Arial, sans-serif;
    color: #c46037;
    font-size: 1rem;
    margin: 0 0.5rem;
}
.description p {
    font-size: 1rem;
}
.description img {
    padding: 0.25rem 0;
    width: 100%;
    height: auto;
}
.description h1, .description h2, .description h3,
.description h4, .description h5, .description h6 {
    font-family: Roboto, Arial, sans-serif;
    padding-top: 0.75rem;
}
.description li {
    padding-bottom: 0.25em;
}

.screenshot__container {
    max-width: 44rem;
    text-align: left;
    margin: 0 0.5rem;
}
@media only screen and (max-width: 700px) {
    /* Keep aspect ratio of iframe */
    .screenshot__container {
        max-width: 695px;
    }
}

.divider {
    height: 0.7rem;
    max-width: 95vw;
    margin: 4rem 0;
}
.footer__divider {
    height: 0.7rem;
    max-width: 95vw;
}

.footer {
    text-align: center;
    margin: -2rem auto 4rem auto;
    max-width: 44rem;
}
.footer p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
.footer__support-info {
    margin-bottom: 3rem;
}
.footer__legal {
    font-size: 0.85rem;
}
.footer__legal a {
    text-decoration: underline;
    text-decoration-style: dotted;
    color: inherit;
}
.footer__legal a:hover, .footer__legal a:active {
    color: #00B2CC;
}
.footer__legal a:active {
    outline: thin dotted;
}
