body {
    background-color: #0a0d10;
    color: #f0f1f1;
    margin: 0;
    width: 100%;
    font-family: "Roboto", Arial, sans-serif;
}
body p {
    color: #E6E7E8;
    font-size: 1.1rem;
}
body h1 {
    font-size: 3rem;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'Press Start 2P', cursive;
}
.main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* --- error --- */
.error__container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 2rem 0;
    text-align: center;
    max-width: 44rem;
    margin: 0 auto;
}
.error__illustration {
    width: 15%;
    margin: 2rem 0;
}

/* --- store-link --- */
.store-link__section {
    margin: 0 auto;
    padding: 3rem 0;
    max-width: 70rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.store-link__container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    max-width: 646px;
    width: 100%;
    padding-top: 192px;
}
.store-link__iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.wishlist-button {
    display: none;
}
@media only screen and (max-width: 550px) {
    /* Steam's iframe is not designed for small screens and has limited responsiveness */
    .store-link__container {
        display: none;
    }

    .wishlist-button {
        display: block;
    }
}

/* --- description --- */
.content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 3rem;
    max-width: 44rem;
}

.description {
    font-family: Roboto, Arial, sans-serif;
    color: #E6E7E8;
    font-size: 1.1rem;
    margin: 0 0.5rem;
}
.description img {
    padding: 0.25rem 0;
    width: 100%;
    height: auto;
}
.description h1, .description h2, .description h3,
.description h4, .description h5, .description h6 {
    font-family: Roboto, Arial, sans-serif;
    padding-top: 0.75rem;
}
.description li {
    padding-bottom: 0.25em;
}

/* --- screenshot --- */
.screenshot__container {
    max-width: 44rem;
    text-align: left;
    margin: 0 0.5rem;
}
@media only screen and (max-width: 700px) {
    /* Keep aspect ratio of iframe */
    .screenshot__container {
        max-width: 695px;
    }
}

/* --- footer --- */
.footer {
    margin: auto auto 0 auto;
    text-align: center;
    padding: 0 0 3rem 0;
    max-width: 44rem;
}
.footer p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
.footer__legal {
    font-size: 0.85rem;
}
.footer__legal a {
    text-decoration: underline;
    text-decoration-style: dotted;
    color: inherit;
}
.footer__legal a:hover, .footer__legal a:active {
    color: #00B2CC;
}
.footer__legal a:active {
    outline: thin dotted;
}
